* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/calle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: aliceblue;
}

main {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.direccion {
  width: 15%;
  display: flex;
  font-weight: bold;
  font-size: larger;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
}
.direccion:hover {
  background-color: rgba(240, 248, 255, 0.356);
}

.volante {
  background-image: url("../img/volante.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30vh;
  width: 70%;
  height: 70%;
  z-index: 3;
}

.animDL {
  animation: spinL 0.6s 1;
}

.animDR {
  animation: spinR 0.6s 1;
}

.animDRlarge {
  animation: spinRlarge 2.9s 1 ease;
}

@keyframes spinR {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinL {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinRlarge {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
footer {
  width: 100%;
  height: 30vh;
  background-color: rgb(31, 31, 31);
  border-radius: 25% 25% 0 0;
  display: block;
  margin: -20vh auto 0 auto;
  z-index: 2;
}
footer img {
  width: 60%;
  height: 150%;
  display: block;
  position: relative;
  margin: 0 auto;
  bottom: 90px;
}

.modal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.877);
  color: aliceblue;
  z-index: 5;
  padding: 25%;
  font-size: 24px;
}
.modal p {
  margin-bottom: 8px;
  text-align: center;
}
.modal button {
  padding: 16px;
  display: block;
  font-size: 24px;
  font-weight: bolder;
  background: linear-gradient(-45deg, rgb(255, 68, 0) 50%, rgb(255, 255, 0) 50%);
  margin: 0 auto;
  margin-top: 20px;
  transition: all 1s ease-out;
}
.modal button:hover {
  background: linear-gradient(-45deg, rgb(255, 112, 60) 50%, rgb(255, 255, 74) 50%);
}

.noDisplay {
  display: none;
}

.alert1 img {
  position: absolute;
  top: 80px;
  left: 80px;
  animation: danger 3s 1 forwards;
  transition: 0.3s all;
  z-index: 7;
  width: 80px;
  height: 80px;
}

@keyframes danger {
  0% {
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  24% {
    opacity: 0;
  }
  32% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  48% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  64% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  76% {
    opacity: 0.3;
    transform: scale(1.1);
  }
  86% {
    opacity: 1;
    transform: scale(1.8) rotate(10deg);
  }
  100% {
    opacity: 0;
    transform: scale(1.8) rotate(40deg);
  }
}
.golpe img {
  position: absolute;
  top: 200px;
  left: 0px;
  animation: punch 1.9s 1 ease-out forwards;
  transform: translate(-500px, 0);
  z-index: 7;
}

@keyframes punch {
  0% {
    transform: translate(-500px, 18px);
  }
  8% {
    transform: translate(0, 50px);
  }
  10% {
    transform: translate(150px, 50px);
  }
  22% {
    transform: translate(145px, 2px);
  }
  24% {
    transform: translate(150px, -2px);
  }
  26% {
    transform: translate(145px, 2px);
  }
  28% {
    transform: translate(150px, -2px);
  }
  30% {
    transform: translate(150px, 0) rotate(0deg);
  }
  50% {
    transform: translate(0px, -10px) rotate(-10deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50px, -100px) rotate(-30deg);
    opacity: 0;
  }
}
.choque {
  animation: choque 2.9s 1 ease-out forwards;
}

@keyframes choque {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: translate(0, 0) rotate(-30deg);
  }
  50% {
    transform: translate(0px, -10px) rotate(-10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
.white {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  animation: fadeWhite 2s 1.5s 1 ease-out forwards;
  opacity: 0.2;
  z-index: 8;
}

@keyframes fadeWhite {
  0% {
    opacity: 0.2;
  }
  33% {
    opacity: 1;
  }
  63% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.guy1 {
  z-index: -1;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  animation: guydead 5s 1 ease-out forwards;
  height: 70vh;
  background-image: url("../img/guy1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes guydead {
  0% {
    opacity: 0.2;
    transform: scale(0.1);
  }
  10% {
    opacity: 1;
    transform: scale(1) translate(0);
  }
  12% {
    transform: scale(1.1) translate(5px);
  }
  14% {
    transform: scale(1.12) translate(-4px);
  }
  16% {
    transform: scale(1.14) translate(0px);
  }
  18% {
    transform: scale(1.16) translate(-4px);
  }
  20% {
    transform: scale(1.18) translate(5px);
  }
  22% {
    transform: scale(1.2) translate(2px);
  }
  24% {
    transform: scale(1) translate(-5px) rotate(0deg);
  }
  40% {
    transform: scale(0.1) translate(-800px, -800px) rotate(480deg);
  }
  60% {
    transform: scale(0.1) translate(-800px, 300px) rotate(480deg);
  }
  90% {
    transform: scale(0.1) translate(-800px, 300px) rotate(480deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.1) translate(-800px, -400px) rotate(480deg);
    opacity: 0;
  }
}
.friend1 {
  z-index: -1;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  animation: shake 4s 1 ease-out forwards;
  height: 70vh;
  background-image: url("../img/friend1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes shake {
  0% {
    transform: scale(1) translate(0px);
  }
  100% {
    transform: scale(1.4) translate(5px);
  }
}/*# sourceMappingURL=style.css.map */